# Ignore all files and folders starting with "."
.*

# But allow .gitignore itself
!.gitignore

# Sensitive data and keys
server/.env
*key*
.env*
*.key
*.pem

# Process IDs and logs
.pids/

# Node modules
node_modules/

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db